* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  
  --h: 330;
  --s: 88%;
  --l: 66%;
  --brand-color-bg: hsl(var(--h) var(--s) var(--l));
  --brand-color-fg: hsl(0 0% 99%);
  --border: 1px solid var(--brand-color-bg);
  --letter-spacing: .25cap;
  --shadow-blur: 1.5rem;
  --shadow-color: hsla(var(--h) var(--s) var(--l) / 0.6);
  --shadow-y: 1rem;
  ---shadow-y: calc(var(--shadow-y) * -1);
  --space: clamp(1.125rem, 0.8rem + 1.3cqi, 1.875rem);
  --gradient: linear-gradient(
    165deg,
    transparent 50%,
    hsla(var(--h) var(--s) var(--l) / 0.15) 125%
    );
  }
  
  body {
    color: var(--brand-color-fg);
  }
  


.layout-container {
    display: grid;
    grid-template-columns: .75fr 1.5fr .75fr;
    min-width: 100vw;
    min-height: 100vh;
    /* padding: var(--space); */
    background-image: var(--gradient);
}


.container{
    padding: var(--space);
}

.container h1, .container h2{
    padding: var(--space);
    text-align: center;
    /* letter-spacing: var(--letter-spacing); */
}

.container:first-child{
    /* border-right: 2px solid hsl(var(--h), var(--s), var(--l), 0.8); */
    /* border-left: 2px solid hsl(var(--h), var(--s), var(--l), 0.8); */
    border-radius: 25px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container:nth-child(2){
    /* border-top: 2px solid hsl(var(--h), var(--s), var(--l), 0.28); */
    /* border-bottom: 2px solid hsl(var(--h), var(--s), var(--l), 0.28); */
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 50px 20px 50px 20px; */
    overflow: hidden;
}

h2 {
  margin: 0;
  letter-spacing: var(--letter-spacing);
  padding: 0;
}
.container:last-child{
    /* border-right: 2px solid hsl(var(--h), var(--s), var(--l), 0.8); */
    /* border-left: 2px solid hsl(var(--h), var(--s), var(--l), 0.8); */
    border-radius: 25px; 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.broll {
    /* height: 50%;
    width: 70%;
    box-shadow: 0 1px 10px lightblue;
    margin: auto;
    transform: translate(0, 5%);
    box-shadow: 15px 0px 15px black;
    overflow: hidden;
    border:1px solid purple; 
    position: relative;
    */

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    /* height: 600px;    */
}

img {
  display: block; 
  max-width: 100%;
  height: auto; 
}
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* border-radius: 5px; */
    /* padding: 10px;  */
  }

.logo-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border: 1px solid var(--shadow-color); */
}

.logo-container img {
  height: 100%; 
  width: 100%;
  border-radius: 0;
}

  img {
    /* max-width: 50%; */
    height: auto;
    padding: 0;
    margin: 0;
    box-shadow: 15px 0px 15px black;
    border-radius: 20px; 
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    margin-top: var(--space);
    padding: var(--space);
    box-shadow: 5px 5px 15px black;
    /* border-bottom: 3px solid white; */
    letter-spacing: var(--letter-spacing);
    text-align: center;
    border-radius: 5px;
  }

  .roamer-name {
    font-size: 2em;
    letter-spacing: var(--letter-spacing);
    
  }
/* @media (prefers-color-scheme: dark) {
  :root {
    --l: 46%;
  }
}

html {
  height: 100%;
}


h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.1;
  text-wrap: balance;
}

button {
  font: inherit;
  line-height: normal;
  padding: 0.5rem 1.5rem 0.6rem;
  background: var(--brand-color-bg);
  color: var(--brand-color-fg);
  border: unset;
  border-radius: 0.25rem;
}

button:active {
  translate: 0 1px;
}

.flow > * + * {
  margin-block-start: var(--space);
}

.container {
  display: grid;
  grid-auto-rows: 1fr;
  border: var(--border);
  border-radius: 1rem;
  inline-size: min(55rem, 100%);
}

.intro {
  padding: var(--space);
  background-image: var(--gradient);
}

.details {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-block-start: var(--border);
}

.details :where(header, footer) {
  padding: calc(var(--space) / 2) var(--space);
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  background-image: var(--gradient);
}

.scroll-container {
  contain: size;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scrollbar-color: var(--brand-color-bg) transparent;
  padding: var(--space);
  border-block: var(--border);
  animation: scroll-shadow-inset linear;
  animation-timeline: scroll(self);
}

@keyframes scroll-shadow-inset {
  from {
    box-shadow: inset 0 var(---shadow-y) var(--shadow-blur) var(---shadow-y)
      var(--shadow-color);
  }

  to {
    box-shadow: inset 0 var(--shadow-y) var(--shadow-blur) var(---shadow-y)
      var(--shadow-color);
  }
}

@media (min-width: 40rem) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .details {
    border-block-start: unset;
    border-inline-start: var(--border);
  }
}


 */
